<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		* {
		  box-sizing: border-box;
		  font-family: Arial, Helvetica, sans-serif;
		}
		body {
		  margin: 0;
		  font-family: Arial, Helvetica, sans-serif;
		}
		#login, .pure-form, .input {
			text-align:center;
		}
		#stacked-email, #stacked-password{
			margin:auto;
		}
		input{
			padding: 0.5rem;
    		width: 100%;
		}
		div{
			margin: 1rem;
		}
		.round-submit-button{
			border-radius: 25px;
			border: 2px solid #73AD21;
			padding: 20px;
			width: 50px;
			height: 25px;
		}
		.content {
		  padding: 10px;
		}
	</style>
	<script type='text/javascript'>
        function addFields(){
            // Generate a dynamic number of inputs
            var number = document.getElementById("ing").value;
			
            // Get the element where the inputs will be added to
            var container = document.getElementById("container");
            // Remove every children it had before
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i = 0; i < number; i++) {
                // 1. Append a node for iName
                container.appendChild(document.createTextNode("Ingredient #" + (i+1) + " Name"));
                let input = document.createElement("input");
                input.type = "text";
                input.name = "name_ing" + i;
                container.appendChild(input);
                container.appendChild(document.createElement("br"));
				// 2. Append a node for unitName
                container.appendChild(document.createTextNode("Ingredient #" + (i+1) + " Unit name"));
                let input2 = document.createElement("input");
                input2.type = "text";
                input2.name = "unitName_ing" + i;
                container.appendChild(input2);
                container.appendChild(document.createElement("br"));
				// 3. Append a node for unitName
                container.appendChild(document.createTextNode("Ingredient #" + (i+1) + " amount"));
                let input3 = document.createElement("input");
                input3.type = "text";
                input3.name = "amount_ing" + i;
                container.appendChild(input3);
                container.appendChild(document.createElement("br"));
				// 3. Append a node for PurchaseLink
                container.appendChild(document.createTextNode("Ingredient #" + (i+1) + " Purchase Link"));
                let input4 = document.createElement("input");
                input4.type = "text";
                input4.name = "purchase_link_ing" + i;
                container.appendChild(input4);
                container.appendChild(document.createElement("br"));
            }
		}
			
		function addRestrictionsFields(){
			var number = document.getElementById("rst").value;
			var container = document.getElementById("container_dietary_restrictions");
			while (container.hasChildNodes()) {
				container.removeChild(container.lastChild);
			}
			for (i = 0; i < number; i++) {
				container.appendChild(document.createTextNode("Restriction #" + (i+1) + " Name"));
				let input = document.createElement("input");
				input.type = "text";
				input.name = "name_rst" + i;
				container.appendChild(input);
				container.appendChild(document.createElement("br"));
				container.appendChild(document.createTextNode("Restriction #" + (i+1) + " Description"));
				let input2 = document.createElement("input");
				input2.type = "text";
				input2.name = "desc_rst" + i;
				container.appendChild(input2);
				container.appendChild(document.createElement("br"));
			}
		}
		function addStepFields(){
			var number = document.getElementById("stp").value;
			var container = document.getElementById("container_steps");
			while (container.hasChildNodes()) {
				container.removeChild(container.lastChild);
			}
			for (i = 0; i < number; i++) {
				container.appendChild(document.createTextNode("Step #" + (i+1) + " Description: "));
				let input = document.createElement("input");
				input.type = "text";
				input.name = "step_desc" + i;
				container.appendChild(input);
				container.appendChild(document.createElement("br"));
			}
		}


    </script>
</head>
<body>
	<div class="content">
        <div>
           
        </div>

		<div>
			
			<h1>How to make {{recipe.title}}</h1>
			<h4>Author: {{recipe.postedBy}} </h4>
			<h4>Number of Servings: {{recipe.numServings}}</h4>
			<h4>Recipe Tags: 
				{% for e in recipeTags %}
				{{e.tagText}},
				{% endfor %}
			</h4>
			<h4>
				Necessary Ingredients:
				{% for e in recipeIngred %}
				<div>
					{{e.iName}} - {{e.amount}} {{e.unitName}}
				</div>
				{% endfor %}
			</h4>
			<h4>
				Dietary Restrictions:
				{% for e in listRestrictions %}
				<div>{{e.iName}}: {{e.restrictionDesc}}</div>
				{% endfor %}
			</h4>
			<h4>
				Steps
				{% for e in steps %}
				<div>{{e.stepNo+1}}: {{e.sDesc}}</div>
				{% endfor %}
			</h4>
			<h4>
				Image URL
				<a href="{{recipe_img}}">See Recipe Image</a>
			</h4>
		</div>
		<div>

		</div>
		<div><button class="pure-button"><a href="/review/?recipeId={{recipe.recipeID}}&title={{recipe.title}}">See Reviews</a></button></div>
		<div><button class="pure-button"><a href="/dashboard">Go back</a></button></div>
	</div>
</body>


</html>
